.profile__info {
    color: #fff;
    column-gap: 18px;
    display: grid;
    font-size: 0;
    grid-template-columns: 1fr 24px;
    margin: 16px 0 18px 30px;
    max-width: 336px;
    padding: 0;
    row-gap: 16px;
  }
  
  @media screen and (max-width: 768px) {
    .profile__info {
      column-gap: 10px;
      grid-template-columns: 1fr 16px;
      margin: auto;
      margin-top: 36px;
      max-width: calc(100% - 28px);
      row-gap: 4px;
    }
  }
  @media screen and (max-width: 567px){
.profile__info {
    column-gap: 10px;
    grid-template-columns: 1fr 16px;
    max-width: calc(100% - 28px);
    row-gap: 4px;
}}