.profile__description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    grid-column: 1 / span 2;
    line-height: 1.222;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
  }